* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}
input {
  font-size: 18px;
  color: hsl(257, 7%, 63%);
}
input[type='text']:focus {
  outline-color: hsl(0, 87%, 67%) !important;
  outline-style: solid;
  border: solid 1px hsl(0, 87%, 67%);
  box-shadow: 0;
}

button {
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  background-color: #9be3e2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.navbar .menu-bars {
  cursor: pointer;
}
.nav-list li:hover {
  color: #000;
}
.login-a {
  cursor: pointer;
}
.logo-div {
  cursor: pointer;
}

.welcome {
  margin-bottom: 170px;
}
.illustration-div {
  position: relative;

  right: -10%;
  text-align: right;
}

.welcome .illustration {
  width: 120%;
  max-width: 733px;
}

.welcome .text-div {
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.welcome .text-div h1 {
  line-height: 1.25;
  margin-bottom: 10px;
  font-size: 2.2rem;
  color: hsl(255, 11%, 22%);
}

.welcome .text-div p {
  color: hsl(257, 7%, 63%);
  margin-bottom: 30px;
}

.start-btn {
  color: #fff;
  background-color: hsl(180, 66%, 49%);
  font-size: 18px;
  font-weight: 700;
  padding: 15px 40px;
  border: solid 1px hsl(180, 66%, 49%);
  border-radius: 35px;
  cursor: pointer;
}
.start-btn:hover {
  background-color: #9be3e2;
}

.shortener {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: hsl(257, 27%, 26%);
  /* margin: 20px; */
  position: relative;
  top: -80px;
  z-index: 1;
  border-radius: 10px;
  border: solid 1px hsl(257, 27%, 26%);
  overflow: hidden;
}

.input-label-div {
  margin-bottom: 20px;
  width: 100%;
}
.label-container {
  text-align: left;
  min-height: 27px;
}

.shortener-input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px #fff;
}

.shortener-input:focus {
  outline-color: 0 !important;
  /* border: solid 1px hsl(0, 87%, 67%); */
  box-shadow: 0;
}

.shortener label {
  color: hsl(0, 87%, 67%);
  font-style: italic;
  font-size: 13px;
}

.shortener-btn {
  width: 100%;
  background-color: hsl(180, 66%, 49%);
  border: solid 1px hsl(180, 66%, 49%);
  color: #fff;
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
}
.shortener-btn:hover {
  background-color: #9be3e2;
}
.bg-shortener-mobile {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.statistics-container {
  background-color: #f0f1f6;
  text-align: center;
  padding: 0px 20px 0;
}

.statistics-text-container {
  /* margin-top: 70px; */
  margin-bottom: 90px;
}
.statistics-text-container h2 {
  color: hsl(255, 11%, 22%);
}

.statistics-container p {
  color: hsl(257, 7%, 63%);
  font-size: 16px;
}
.shorts-links-containers {
  margin: -50px 0 100px;
}

.short-link-container {
  text-align: left;
  /* padding: 20px; */
  font-size: 17px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
}

.short-link-container .long-link {
  border-bottom: solid 2px hsl(257, 7%, 63%);
  padding: 10px 20px;
}
.short-link-container .short-link {
  color: hsl(180, 66%, 49%);
  padding: 10px 20px;
}

.short-link-container .copy-btn {
  width: 100%;
  background-color: hsl(180, 66%, 49%);
  border: solid 1px hsl(180, 66%, 49%);
  color: #fff;
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
  font-size: 17px;
}
.short-link-container .copy-btn.copied {
  background-color: hsl(257, 27%, 26%);
  border-color: hsl(257, 27%, 26%);
}
.copy-btn:hover {
  background-color: #9be3e2;
}
.short-link-container .copy-container {
  padding: 0 20px 20px;
}

.features-box {
  background-color: #fff;
  margin-bottom: 100px;
}

.features-box .img-span {
  background-color: hsl(257, 27%, 26%);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  height: 80px;
  width: 80px;

  top: -40px;
}
.feature-icon {
  margin-top: 17px;
}
.feature-text {
  padding: 0 20px 30px;
  margin-top: -10px;
}

.feature-text h3 {
  margin-bottom: 10px;
}

.features-box .pipeline {
  width: 7px;
  height: 60px;
  display: block;
  position: absolute;
  background-color: hsl(180, 66%, 49%);
  left: 50%;
  margin-left: -3.5px;
}
.boost-container {
  background-color: hsl(257, 27%, 26%);
  text-align: center;
  position: relative;
  z-index: 1;
  height: 300px;
}
.boost-container h3 {
  color: #fff;
  padding: 100px 0 20px;
  font-size: 25px;
}

.boost-container .start-btn {
  margin-bottom: 70px;
}
.footer {
  text-align: center;
  background-color: hsl(260, 8%, 14%);
  padding: 40px;
}
.footer h3 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 50px;
  cursor: pointer;
}

.footer-list {
  margin-bottom: 50px;
}

.footer-list h4 {
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
}

.footer-list ul {
  list-style: none;
}
.footer-list li {
  color: hsl(0, 0%, 75%);
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer-list li:hover {
  color: hsl(180, 66%, 49%);
}

.footer .social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container .social-img-container {
  margin: 0 20px;
  cursor: pointer;
}

.hide-xs {
  display: none;
}

@media only screen and (min-width: 991px) {
  .hide-xs {
    display: block;
  }
  .hide-dsk {
    display: none;
  }
  .navbar {
    padding: 30px 7%;
  }
  .nav-list {
    list-style: none;
    display: flex;
    margin-left: 15px;
  }
  .nav-list li {
    margin: 0 30px;
    font-weight: 700;
    color: hsl(257, 7%, 63%);
    font-size: 16px;
    cursor: pointer;
  }

  .left-nav {
    display: flex;
    align-items: center;
  }

  .left-list.hide-xs {
    margin-bottom: 10px;
  }

  .right-nav {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .login-a {
    font-size: 16px;
    color: hsl(257, 7%, 63%);
    font-weight: 700;
  }
  .sign-nav {
    color: #fff;
    background-color: hsl(180, 66%, 49%);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border: solid 1px hsl(180, 66%, 49%);
    border-radius: 35px;
    cursor: pointer;
    margin-left: 30px;
  }
  .welcome {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 7% 120px;
  }

  .welcome .text-div {
    text-align: left;
    padding-left: 0;
  }

  .welcome .text-div h1 {
    font-size: 4rem;
    margin-right: 50px;
  }
  .welcome .text-div p {
    font-size: 1.1rem;
  }
  .welcome .illustration {
    width: 140%;
    left: 0;
  }
  .illustration-div {
    left: 0;
    right: 0;
  }
  .shortener {
    display: flex;
    flex-direction: row;
    margin: 0 11%;
    padding: 15px 25px;
  }
  .shortener-input {
    width: 95%;
    margin-top: 26px;
  }
  .shortener-btn {
    width: 200px;
  }
  .input-label-div {
    text-align: left;
    margin: 0;
  }
  .shorts-links-containers {
    margin-top: -50px;
  }

  .short-link-container {
    margin: 0 11% 30px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    justify-content: flex-end;
  }
  .short-link-container .copy-container {
    padding: 0;
  }
  .short-link-container .copy-btn {
    padding: 10px 30px;
    width: 104px;
  }
  .short-link-container .copy-btn.copied {
    padding: 10px 0;
  }
  .short-link-container .long-link {
    border: 0;
    padding: 0;
    margin: 0 auto 0 0;
  }
  .statistics-text-container {
    margin: 0 30% 90px;
  }
  .features-container {
    display: flex;
    justify-content: space-between;
    margin: 0 11%;
  }
  .features-box {
    width: 32%;
    position: relative;
    height: 350px;
    border-radius: 7px;
  }
  .features-box.mid {
    margin-top: 50px;
  }
  .features-box.right {
    margin-top: 100px;
  }
  .features-box .pipeline {
    width: 60px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: 101%;
  }
  .feature-text {
    text-align: left;
  }
  .features-box .img-span {
    right: 25%;
  }
  .statistics-text-container h2 {
    font-size: 35px;
  }
  .boost-container {
    max-height: 250px;
  }
  .boost-container h3 {
    font-size: 35px;
    padding: 60px 0 20px;
  }
  .footer {
    display: flex;
    padding: 50px 11%;
    justify-content: space-between;
  }
  .footer-list {
    text-align: left;
  }
  .footer .social-container {
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1300px) {
  .features-box {
    height: 300px;
  }
  .footer h3 {
    margin-right: 150px;
  }
}
